/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* BEGINNING */

main, footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    display:block;
    margin: 5rem auto 5rem auto;
}

.inputs input {
    display: flex;
    margin-bottom: 0.7rem;
    padding: 0.6rem 1rem;
    width: 17rem;

    font: 500 0.8rem 'Poppins', sans-serif;
    letter-spacing: 1px;
    border: 1px solid #201b1b;
    border-radius: 4px;
    transition: background 0.6s;
}

.inputs input:hover {
    background: #d4d3d3;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.links {
    margin: 1.5rem;
    font: 700 0.8rem 'DM Sans', sans-serif;
} 

.new-password {
    display: inline-block;
    margin-left: 10rem;

    color: #4d4848;
}

.new-account {
    margin-top: 0.5rem;
    display: inline-block;

    color: #4d4848;
}

.new-account span {
    color: #1b1b1b;
}

button {
    width: 17rem;
    height: 2rem;

    font: 600 15px 'Raleway', sans-serif;

    background: #1b1b1b;
    color: #FFFFFF;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transition: background 0.4s;
    background: #000000;
}

p {
    font: 900 1rem 'DM Sans', sans-serif;
    letter-spacing: 1px;
    margin: 2rem 0 0 0.5rem;
}

/* FOOTER */

footer {
    margin: 2rem;
    transition:  0.10s;
}

footer img {
    padding: 0.4rem;
}

footer img:hover {
    transform: translateY(-5px);
}

/* PHONE */

@media (max-width: 400px) {
    .links .new-password {
        margin-left: 1rem;
    }
}