* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

#logo {
    position: absolute;
    right: 52%;
    top: 21.76%;
    bottom: 71.17%;
}

#username {
    position: absolute;
    width: 321px;
    height: 46px;
    left: 45px;
    top: 381px;
    
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

#password {
    position: absolute;
    width: 321px;
    height: 46px;
    left: 45px;
    top: 448px;
    
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

#new-password {
 
position: absolute;
width: 102px;
height: 15px;
left: 253px;
top: 529px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

color: #000000;

}

#login {
    position: absolute;
    width: 133px;
    height: 46px;
    left: 140px;
    top: 582px;

    color: #F7F7F7;
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;

    cursor: pointer;
}

#login:hover {
    transition: 0.6s;
    color: white;
}

#new-account {
    position: absolute;
    width: 240px;
    height: 18px;
    left: 87px;
    top: 649px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    
    color: #969696;
}

p {
    position: absolute;
    width: 128px;
    height: 29px;
    left: 143px;
    top: 729px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
     
}

#footer {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 130px;
    top: 800px;
}

.img {
    padding-right: 7px;
    padding-left: 7px;
}