* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header img {
    margin: 120px 0 70px  110px;
}

#username, 
#password {
    margin-top: 7px;
    width: 227px;
    height: 30px;
    padding-left: 10px;

    background: #F7F7F7;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 7px;

    font: 700 15px 'Raleway', sans-serif, #696969;
    color: #000000;
}

.inputs {
    margin-left: 30px;
}

#new-password {
    position: absolute;
    margin: 20px 0 15px 160px;
    font: 500 13px 'Montserrat', sans-serif;
    color: #000000;
}

button {
    margin: 70px 0 0 92px;
    width: 120px;
    height: 40px;

    font: 600 15px 'Raleway', sans-serif;

    background: #1b1b1b;
    color: #FFFFFF;
    border-radius: 7px;
}

button:hover {
    transition: background 0.4s;
    background: #000000;
}

#new-account {
    margin: 40px 0 20px 20px; 
    position: absolute;

    font: 600 13px 'Montserrat', sans-serif;
    color: #696969;
}

span {
    color: #1B1B1B;
}

p {
    margin: 80px 0 0 140px;

    font: 800 15px 'Montserrat', sans-serif;
}

nav {
    margin: 40px 0 20px 70px;
}

.img {
    padding-right: 10px;
    width: 50px;
    height: 40px;
}